.beavers-crafting.actor-tab .addCrafting
{
    background: url(/systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
    background-origin: padding-box;
    color:white;
}
.beavers-crafting .search{
    color: #b43f3f;
}

.beavers-crafting input[type="text"],
.beavers-crafting input[type="number"],
.beavers-crafting input[type="password"],
.beavers-crafting input[type="date"],
.beavers-crafting input[type="time"],
.beavers-crafting input[type="search"] {
    color: inherit
}
.beavers-crafting.actor-tab .header {
    color: white;
    background: url(/systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat !important;
}
.beavers-crafting.tab{
    color:#444;
}